In [11]:
import pandas as pd   
# pandas is a librarry used for handling database like table ,CSV..etc . So we are importing pandas and naming as pd in short

In [12]:
dataset=pd.read_csv("SalaryPredict.csv")
# Using pd and its read_csv method or function we are importing the data present in the CSV file 
# and storing these data or CSV in dataset variable

In [13]:
dataset

   Year  Salary
0     1   10000
1     2   15000
2     3   17500
3     4   21000
4     5   30000
5     6   31000
6     7   35000
7     8   40000
8     9   50000
9    10   60000

In [14]:
independent=dataset[["Year"]]

# For the input split, we are extracting the Year data column from dataset variable and storing separately in independent variable

In [15]:
independent

   Year
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10

In [16]:
dependent=dataset[["Salary"]]
# For the Output split, we are extracting the Year Salary column from dataset variable and storing separately in independent variable

In [17]:
dependent

   Salary
0   10000
1   15000
2   17500
3   21000
4   30000
5   31000
6   35000
7   40000
8   50000
9   60000

In [18]:
from sklearn.model_selection import train_test_split  

#To split the train and test set from the input and output data , importing train_test_split function from sklear.model_selection packager/folder which is used fo ML

In [20]:
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

#Passing independent,dependent,test_size=0.30,random_state=0 data to the train_test_split function
# and these function return 4 values and these values are stored in  x_train,x_test,y_train,y_test
#Now ,we got the x_train,x_test,y_train,y_test data

In [21]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

# For the LinearRegression model creation we are importing LinearRegression class from  sklearn.linear_model library
#Assigning this class to regressor variable

In [22]:
regressor.fit(x_train,y_train)

#Model creation
#Passing the X_train and Y_train data to the regressor fit method for the model creation

LinearRegression()

In [23]:
weight=regressor.coef_

#.coef_ is a method to find the weight value from the model

In [24]:
weight

array([[5087.44394619]])

In [25]:
bias=regressor.intercept_
bias


#  .intercept_ is a method to find the weight value from the model

array([2668.16143498])

In [26]:
y_pred=regressor.predict(x_test)


#Testing
#Passing the X_test data to this regressor model to find the Y_prediction

In [27]:
from sklearn.metrics import r2_score

#Evaluation metrics
#r2_score function is imported from sklearn.metrics library for evaluating the model

In [28]:
r_score=r2_score(y_test,y_pred)

#Y_test and Y_pred is passed to the r2_score function to identifty the best model.
#resturing value near to 1 is considered as best model

In [29]:
r_score

0.9885368464519556

In [30]:
import pickle

#importing pickle library to save and load the model

In [31]:
filname="Final_model_SLA.sav"

# Declaring the varibale called filname to save Final_model the best  model in a value format "Final_model_SLA.sav"

In [32]:
pickle.dump(regressor,open(filname ,'wb'))

#.dump is the method to save the model to the file

In [33]:
Load_model=pickle.load(open(filname,'rb'))

#.load is the method to load the model from the file

In [34]:
result=Load_model.predict([[15]])

#Prediction input 15 is passed to the model by  using predict function

C:\Users\wilkiewolford\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [35]:
result

array([[78979.8206278]])